*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;x
}

body{
    font-size : 1.5rem ;
    font-family: "roboto " , sans-serif ;
    min-height: 200vh ;
}

.outer-container {
    border : 3px dashed #000 ;
    width : 30rem  ;
    height : 45rem  ;
    margin : 40px auto ;
}

.inner-container{
    border: 3px dashed blue ;
    width : 15rem ;
    height: 22rem ;
    margin: 40px auto ;

}