/* thypography is the way that text is arranged and presented . */


body{
    font-size: 1rem ;
    padding : 10px ;
    /* text-decoration: underline ; */
    /* Linethrough */
    text-align : justify ;
    line-height: 1.5 ;  /* generally used  */
    /* letter-spacing: 0.1em ;
    word-spacing : 0.2em ; */

    /* font-weight : light   ; */
    font-style : oblique ;
}


h1{
    font-style: normal;
}

input,button,label {
    font-size : inherit ;
    font-style: normal;
    
}


