body{
    padding : 10% ;
    font-size : 2rem ;
    font-family : monospace ;
}

ol{
    list-style-type :decimal ;
}

ul{
    list-style-image:  url("../images.png") ;
}

ul li:nth-child(2) {   /* psedu class for more specific coloring ... we can also use odd even */
    color : blue ;
}


ul ::marker{
    color: red ;
    content: "only $5 >> " ;
    font-size : 1em ;
}