*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body{
    width: 100vw ;
    height : 100vh ;
}

.container {
    
    background-color: bisque ;
    border-bottom : 3px solid black ;
    border: 3px solid black ;
    margin: 8px ;
    background-image: url(../img/pexels-photo-259280.jpeg) ;
    background-repeat: no-repeat; 
    background-size: cover ;
    

}

.box {
    padding: 1.5rem ;
    display: flex ;
    align-items: center ;
    gap : 4rem ;
   
    text-shadow: 3px 3px 5px black ;
    

}


.caption{
    display: flex;
    justify-content : center ;
    align-items: center ;
    color: aliceblue ;
    font-size: 2rem ;
}


.offscreen{
    white-space: nowrap ;
}

img{
    width :300px ;
    height : 300px ;
    border-radius: 60% ;
    border: 4px solid black ;
}


h1{
    font-size: 3rem ;
    font-family: "Nunito" , sans-serif ;
    color: aliceblue ;

}

.anim{
    display: flex ;
    gap : 2rem ;
    padding: 2px ;
    justify-content: space-evenly;
    justify-content: end ;
    
}

a{
    text-decoration: none;
    font-weight: 900 ;
    font-size: 1.3rem;
    background-color: black ;
    color : white  ;
    box-shadow: 2px 2px white ;
    text-shadow: 2px 2px 5px black ;
    padding: 2px ;
    

}
a:hover{
    color: red;
}